.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 50vh;
    padding: 0.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loginbar {
    padding: 0.5rem 0;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: purple;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .hat_title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
  }

  .button {
    background-color: white;
    color: black;
    font-size: xx-large;
    border: 2px solid black;
    border-radius: 20px;
    width: 70%;
  }

  .button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }

 .ul_li {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .li {
   border: 1px black solid;
   background-color: white;
   color: black;
   margin: 10px;
   font-size: x-large;
   padding: 10px;
   border-radius: 20px;
   width: 350px;
   text-align: center;
 }

 .li:hover {
   background-color: rgb(232, 213, 236);
   color: black;
 }

 .li_clicked {
  border: 1px black solid;
  background-color: black;
  color: white;
  margin: 10px;
  font-size: x-large;
  padding: 10px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
 }
  
 .li_clicked:hover {
  background-color: black;
  color: rgb(204, 66, 232);
}